

<div class="w3-row  w3-margin">

  <div class="w3-col s12  w3-center ">

    <div class="w3-bar">
      <button class="w3-bar-item w3-large" id='band160' (click)="bandChange('160')"
              [ngClass]="{'w3-teal': b160, 'w3-flat-emerald': !b160}" >160
      </button>
      <button class="w3-bar-item w3-large" id='band80' (click)="bandChange('80')"
              [ngClass]="{'w3-teal': b80, 'w3-flat-emerald': !b80}">
        80
      </button>
      <button class="w3-bar-item w3-large" id='band40' (click)="bandChange('40')"
              [ngClass]="{'w3-teal': b40, 'w3-flat-emerald': !b40}">
        40
      </button>
      <button class="w3-bar-item w3-large" id='band30' (click)="bandChange('30')"
              [ngClass]="{'w3-teal': b30, 'w3-flat-emerald': !b30}">
        30
      </button>
      <button class="w3-bar-item w3-large" id='band20' (click)="bandChange('20')"
              [ngClass]="{'w3-teal': b20, 'w3-flat-emerald': !b20}">
        20
      </button>
      <button class="w3-bar-item w3-large" id='band10' (click)="bandChange('10')"
              [ngClass]="{'w3-teal': b10, 'w3-flat-emerald': !b10}">
        10
      </button>
    </div>
  </div>
</div>
