<div class="w3-container w3-border w3-large">
  <div class="w3-left-align">
    <section>
      <br/>
      The application uses a browser; is open source.

      Please make a fork of the github repo and make your modification.

      By providing a pull request your modification will be merged into the main stream; so
      all users can enjoy the enhancement you make!

      <br/>This app is based on different components:
    </section>
    <li>WDSP ; An excellent DSP library by Warren Pratt, NR0V</li>
    <li>Ported to Linux by John Melton, G0ORX</li>
    <li>JNI java native interface to WDSP</li>
    <li>JAVA</li>
    <li>TOMEE Webserver using CDI</li>
    <li>Angular (typescript and javascript)</li>
    <li>Websockets and REST</li>
    <li>W3.CSS Stylesheet</li>
    <li>Maven</li>
    <br/>
    Enjoy remote working. Johan, PA3GSB.
  </div>

</div>
