<div class="w3-row  w3-center" style="height:40px"></div>

<div class="w3-row">

  <div class="w3-col s1 w3-center">
    <div class="spatie"></div>
  </div>

  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>
  <div class="w3-col s1  w3-center">
        <div class="led"></div>
  </div>

  <div class="w3-col s1 w3-dark-grey w3-center"></div>

</div>

<div class="w3-row " style="height:40px"></div>

<div class="w3-row">
  <div class="w3-col s12  w3-center">
    <button class="w3-bar-item w3-xlarge" id='ptt' (click)="start()" [ngClass]="{'w3-red': transmit, 'w3-teal' : !transmit}">PTT
    </button>
  </div>
</div>

<div class="w3-row " style="height:40px"></div>
